.search input {
    width: 300px;
    padding: 5px 12px;
    background-color: #fff;
    border: .5px solid rgba(0, 0, 0, .25);
    border-radius: 10px;
    transition: all 300ms ease;
}

.search input:hover {
    border-color: #04AA6D;
 }

.search {
    display: flex;
    justify-content: center;
}
